<?xml version="1.0" encoding="utf-8" ?>
<nlog
	xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	xsi:schemaLocation="NLog NLog.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	autoReload="true"
	internalLogFile="C:\Temp\NLog.log"
	internalLogLevel="Trace"
	>

	<targets>
		<target xsi:type="File" name="LogFatalToFile"
			fileName="C:\Temp\FatalMessages.log"
			layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${all-event-properties} ${exception:format=tostring}"

			keepFileOpen="true"
			archiveEvery="Minute"
			archiveNumbering="DateAndSequence"
			/>

		<target xsi:type="File" name="LogErrorToFile"
			fileName="C:\Temp\ErrorMessages.log"
			layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${all-event-properties} ${exception:format=tostring}"
			/>

		<target xsi:type="File" name="LogWarningToFile"
			fileName="C:\Temp\WarningMessages.log"
			layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${all-event-properties} ${exception:format=tostring}"
			/>

		<!--TempFile-->
		<target xsi:type="File" name="TempFile"
			fileName="C:\Temp\Temp.log"
			layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${all-event-properties} ${exception:format=tostring}"
			/>

		<target xsi:type="Console" name="LogToConsole"
			layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${all-event-properties} ${exception:format=tostring}"
			/>
	</targets>

	<rules>
		<!--Skip non-critical Microsoft logs and so log only own logs-->
		<!-- BlackHole without writeTo -->
		<logger name="Microsoft.*" maxlevel="Info" final="true" />

		<logger name="*" minlevel="Fatal" maxlevel="Fatal" writeTo="LogFatalToFile" />
		<logger name="*" level="Error" writeTo="LogErrorToFile" />
		<logger name="*" level="Warn" writeTo="LogWarningToFile" />
		<logger name="*" minlevel="Trace" maxlevel="Info" writeTo="LogToConsole" />

		<logger name="Application.Program" minlevel="Trace" maxlevel="Fatal" writeTo="TempFile" />
	</rules>
</nlog>
